@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: Ubuntu, monospace;
  text-align: center;
  margin: 0;
  color: #eee;
  background-color: #333;
}

#main {
  width: auto;
  margin: auto;
}

h1 {
  background-color: #444;
  padding: 25px 0px;
  font-size: 3rem;
  text-shadow: 0px 2px 5px #33ccff;
}

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  border: 1px #444 solid;
  border-radius: 25%;
  box-shadow: 0px 0px 10px #eee;
}

figcaption {
  margin: 1rem;
}

h2 {
  font-size: 2rem;
  text-shadow: 0px 2px 5px #33ccff;
}

p {
  text-align: center;
  width: 60vw;
  line-height: 2;
  margin: auto;
  padding: 25px;
}

a {
  color: #33ccff;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  h1 { font-size: 2.5rem; }
  p { width: 80vw; }
}